/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up full height */
}

/* Header Styles */
header {
    background-color: #8B5E3B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1,
header p {
    font-family: 'Playfair Display', serif;
}

/* Hero Section */
.hero {
    background: #FFF5E1;
    padding: 50px 20px;
}

.hero .content {
    max-width: 600px;
    margin: 0 auto 0 50px; /* Aligns to left with some space */
    text-align: left;
}

.hero h2 {
    font-size: 2em;
    color: #000000;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}

.hero ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0 30px 0;
    font-size: 1.1em;
    color: #333;
}

/* Navigation Bar */
.navbar {
    background-color: #8B5E3B;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    background-color: #654321;
}

/* Footer */
footer {
    background-color: #8B5E3B;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; /* Ensures footer is pushed to the bottom */
}